/* frontend/src/index.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: hidden;
}

body {
    @apply bg-gray-100 dark:bg-gray-900;


    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}